// Buttons

.btn-scout-purple {
	background-color: $scout-purple;
	border-color: $scout-purple;
	color: $white;
}
.btn-scout-purple:hover {
	background-color: darken($scout-purple, 10%);
	border-color: darken($scout-purple, 10%);
	color: $white !important;
}
.btn-scout-purple:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-purple,.5);
}
.btn-outline-scout-purple {
	color: $scout-purple;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-purple !important;
}
.btn-outline-scout-purple:hover {
	color: $white !important;
	background-color: $scout-purple !important;
}
.btn-scout-purple-light {
	background-color: lighten($scout-purple, 10%);
	border-color: lighten($scout-purple, 10%);
	color: $white;
}
.btn-scout-purple-light:hover {
	background-color: darken(lighten($scout-purple, 10%), 10%);
	border-color: darken(lighten($scout-purple, 10%), 10%);
	color: $white !important;
}
.btn-scout-purple-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-purple, 10%),.5);
}
.btn-scout-purple-dark {
	background-color: darken($scout-purple, 10%);
	border-color: darken($scout-purple, 10%);
	color: $white;
}
.btn-scout-purple-dark:hover {
	background-color: darken(darken($scout-purple, 10%), 10%);
	border-color: darken(darken($scout-purple, 10%), 10%);
	color: $white !important;
}
.btn-scout-purple-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-purple, 10%),.5);
}
.btn-scout-teal {
	background-color: $scout-teal;
	border-color: $scout-teal;
	color: $white;
}
.btn-scout-teal:hover {
	background-color: darken($scout-teal, 10%);
	border-color: darken($scout-teal, 10%);
	color: $white !important;
}
.btn-scout-teal:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-teal, 0.5);
}
.btn-outline-scout-teal {
	color: $scout-teal;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-teal !important;
}
.btn-outline-scout-teal:hover {
	color: $white !important;
	background-color: $scout-teal !important;
}
.btn-scout-teal-light {
	background-color: lighten($scout-teal, 10%);
	border-color: lighten($scout-teal, 10%);
	color: $white;
}
.btn-scout-teal-light:hover {
	background-color: darken(lighten($scout-teal, 10%), 10%);
	border-color: darken(lighten($scout-teal, 10%), 10%);
	color: $white !important;
}
.btn-scout-teal-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-teal, 10%),.5);
}
.btn-scout-teal-dark {
	background-color: darken($scout-teal, 10%);
	border-color: darken($scout-teal, 10%);
	color: $white;
}
.btn-scout-teal-dark:hover {
	background-color: darken(darken($scout-teal, 10%), 10%);
	border-color: darken(darken($scout-teal, 10%), 10%);
	color: $white !important;
}
.btn-scout-teal-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-teal, 10%),.5);
}
.btn-scout-green {
	background-color: $scout-green;
	border-color: $scout-green;
	color: $white;
}
.btn-scout-green:hover {
	background-color: darker($scout-green, 10%);
	border-color: darken($scout-green, 10%);
	color: $white !important;
}
.btn-scout-green:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-green, 0.5);
}
.btn-outline-scout-green {
	color: $scout-green;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-green !important;
}
.btn-outline-scout-green:hover {
	color: $white !important;
	background-color: $scout-green !important;
}
.btn-scout-green-light {
	background-color: lighten($scout-green, 10%);
	border-color: lighten($scout-green, 10%);
	color: $white;
}
.btn-scout-green-light:hover {
	background-color: darken(lighten($scout-green, 10%), 10%);
	border-color: darken(lighten($scout-green, 10%), 10%);
	color: $white !important;
}
.btn-scout-green-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-green, 10%),.5);
}
.btn-scout-green-dark {
	background-color: darken($scout-green, 10%);
	border-color: darken($scout-green, 10%);
	color: $white;
}
.btn-scout-green-dark:hover {
	background-color: darken(darken($scout-green, 10%), 10%);
	border-color: darken(darken($scout-green, 10%), 10%);
	color: $white !important;
}
.btn-scout-green-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-green, 10%),.5);
}
.btn-scout-blue {
	background-color: $scout-blue;
	border-color: $scout-blue;
	color: $white;
}
.btn-scout-blue:hover {
	background-color: darken($scout-blue, 10%);
	border-color: darken($scout-blue, 10%);
	color: $white !important;
}
.btn-scout-blue:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-blue, 0.5);
}
.btn-outline-scout-blue {
	color: $scout-blue;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-blue !important;
}
.btn-outline-scout-blue:hover {
	color: $white !important;
	background-color: $scout-blue !important;
}
.btn-scout-blue-light {
	background-color: lighten($scout-blue, 10%);
	border-color: lighten($scout-blue, 10%);
	color: $white;
}
.btn-scout-blue-light:hover {
	background-color: darken(lighten($scout-blue, 10%), 10%);
	border-color: darken(lighten($scout-blue, 10%), 10%);
	color: $white !important;
}
.btn-scout-blue-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-blue, 10%),.5);
}
.btn-scout-blue-dark {
	background-color: darken($scout-blue, 10%);
	border-color: darken($scout-blue, 10%);
	color: $white;
}
.btn-scout-blue-dark:hover {
	background-color: darken(darken($scout-blue, 10%), 10%);
	border-color: darken(darken($scout-blue, 10%), 10%);
	color: $white !important;
}
.btn-scout-blue-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-blue, 10%),.5);
}
.btn-scout-navy {
	background-color: $scout-navy;
	border-color: $scout-navy;
	color: $white;
}
.btn-scout-navy:hover {
	background-color: darken($scout-navy, 10%);
	border-color: darken($scout-navy, 10%);
	color: $white !important;
}
.btn-scout-navy:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-navy, 0.5);
}
.btn-outline-scout-navy {
	color: $scout-navy;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-navy !important;
}
.btn-outline-scout-navy:hover {
	color: $white !important;
	background-color: $scout-navy !important;
}
.btn-scout-navy-light {
	background-color: lighten($scout-navy, 10%);
	border-color: lighten($scout-navy, 10%);
	color: $white;
}
.btn-scout-navy-light:hover {
	background-color: darken(lighten($scout-navy, 10%), 10%);
	border-color: darken(lighten($scout-navy, 10%), 10%);
	color: $white !important;
}
.btn-scout-navy-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-navy, 10%),.5);
}
.btn-scout-navy-dark {
	background-color: darken($scout-navy, 10%);
	border-color: darken($scout-navy, 10%);
	color: $white;
}
.btn-scout-navy-dark:hover {
	background-color: darken(darken($scout-navy, 10%), 10%);
	border-color: darken(darken($scout-navy, 10%), 10%);
	color: $white !important;
}
.btn-scout-navy-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-navy, 10%),.5);
}
.btn-scout-pink {
	background-color: $scout-pink;
	border-color: $scout-pink;
	color: $grey-80;
}
.btn-scout-pink:hover {
	background-color: darken($scout-pink, 10%);
	border-color: darken($scout-pink, 10%);
	color: $grey-80;
}
.btn-scout-pink:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-pink, 0.5);
}
.btn-outline-scout-pink {
	color: $scout-pink;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-pink !important;
}
.btn-outline-scout-pink:hover {
	color: $grey-80 !important;
	background-color: $scout-pink !important;
}
.btn-scout-pink-light {
	background-color: lighten($scout-pink, 10%);
	border-color: lighten($scout-pink, 10%);
	color: $white;
}
.btn-scout-pink-light:hover {
	background-color: darken(lighten($scout-pink, 10%), 10%);
	border-color: darken(lighten($scout-pink, 10%), 10%);
	color: $white !important;
}
.btn-scout-pink-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-pink, 10%),.5);
}
.btn-scout-pink-dark {
	background-color: darken($scout-pink, 10%);
	border-color: darken($scout-pink, 10%);
	color: $white;
}
.btn-scout-pink-dark:hover {
	background-color: darken(darken($scout-pink, 10%), 10%);
	border-color: darken(darken($scout-pink, 10%), 10%);
	color: $white !important;
}
.btn-scout-pink-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-pink, 10%),.5);
}
.btn-scout-red {
	background-color: $scout-red;
	border-color: $scout-red;
	color: $white;
}
.btn-scout-red:hover {
	background-color: darken($scout-red, 10%);
	border-color: darken($scout-red, 10%);
	color: $white !important;
}
.btn-scout-red:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-red, 0.5);
}
.btn-outline-scout-red {
	color: $scout-red;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-red !important;
}
.btn-outline-scout-red:hover {
	color: $white !important;
	background-color: $scout-red !important;
}
.btn-scout-red-light {
	background-color: lighten($scout-red, 10%);
	border-color: lighten($scout-red, 10%);
	color: $white;
}
.btn-scout-red-light:hover {
	background-color: darken(lighten($scout-red, 10%), 10%);
	border-color: darken(lighten($scout-red, 10%), 10%);
	color: $white !important;
}
.btn-scout-red-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-red, 10%),.5);
}
.btn-scout-red-dark {
	background-color: darken($scout-red, 10%);
	border-color: darken($scout-red, 10%);
	color: $white;
}
.btn-scout-red-dark:hover {
	background-color: darken(darken($scout-red, 10%), 10%);
	border-color: darken(darken($scout-red, 10%), 10%);
	color: $white !important;
}
.btn-scout-red-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-red, 10%),.5);
}
.btn-scout-yellow {
	background-color: $scout-yellow;
	border-color: $scout-yellow;
	color: $grey-80;
}
.btn-scout-yellow:hover {
	background-color: darken($scout-yellow, 10%);
	border-color: darken($scout-yellow, 10%);
	color: $grey-80 !important;
}
.btn-scout-yellow:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-yellow, 0.5);
}
.btn-outline-scout-yellow {
	color: $scout-yellow;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-yellow !important;
}
.btn-outline-scout-yellow:hover {
	color: $grey-80 !important;
	background-color: $scout-yellow !important;
}
.btn-scout-yellow-light {
	background-color: lighten($scout-yellow, 10%);
	border-color: lighten($scout-yellow, 10%);
	color: $grey-80;
}
.btn-scout-yellow-light:hover {
	background-color: darken(lighten($scout-yellow, 10%), 10%);
	border-color: darken(lighten($scout-yellow, 10%), 10%);
	color: $grey-80 !important;
}
.btn-scout-yellow-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-yellow, 10%),.5);
}
.btn-scout-yellow-dark {
	background-color: darken($scout-yellow, 10%);
	border-color: darken($scout-yellow, 10%);
	color: $grey-80;
}
.btn-scout-yellow-dark:hover {
	background-color: darken(darken($scout-yellow, 10%), 10%);
	border-color: darken(darken($scout-yellow, 10%), 10%);
	color: $white !important;
}
.btn-scout-yellow-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-yellow, 10%),.5);
}
.btn-outline-scout-section-green {
	color: $scout-section-green;
	background-color: transparent !important;
	background-image: none;
	border-color: $scout-section-green !important;
}
.btn-outline-scout-section-green:hover {
	color: $white !important;
	background-color: $scout-section-green !important;
}
.btn-scout-section-green-light {
	background-color: lighten($scout-section-green, 10%);
	border-color: lighten($scout-section-green, 10%);
	color: $white;
}
.btn-scout-section-green-light:hover {
	background-color: darken(lighten($scout-section-green, 10%), 10%);
	border-color: darken(lighten($scout-section-green, 10%), 10%);
	color: $white !important;
}
.btn-scout-section-green-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($scout-section-green, 10%),.5);
}
.btn-scout-section-green-dark {
	background-color: darken($scout-section-green, 10%);
	border-color: darken($scout-section-green, 10%);
	color: $white;
}
.btn-scout-section-green-dark:hover {
	background-color: darken(darken($scout-section-green, 10%), 10%);
	border-color: darken(darken($scout-section-green, 10%), 10%);
	color: $white !important;
}
.btn-scout-section-green-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($scout-section-green, 10%),.5);
}
.btn-scout-white {
	background-color: $white;
	border-color: $white;
	color: $grey-80;
}
.btn-scout-white:hover {
	background-color: darken($white, 10%);
	border-color: darken($white, 10%);
	color: $grey-80 !important;
}
.btn-scout-white:focus {
	box-shadow: 0 0 0 0.2rem rgba($white, 0.5);
}
.btn-outline-scout-white {
	color: $grey-80;
	background-color: transparent !important;
	background-image: none;
	border-color: $white !important;
}
.btn-outline-scout-white:hover {
	color: $grey-80 !important;
	background-color: $white !important;
}
.btn-scout-white-light {
	background-color: lighten($white, 10%);
	border-color: lighten($white, 10%);
	color: $grey-80;
}
.btn-scout-white-light:hover {
	background-color: darken(lighten($white, 10%), 10%);
	border-color: darken(lighten($white, 10%), 10%);
	color: $grey-80 !important;
}
.btn-scout-white-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($white, 10%),.5);
}
.btn-scout-white-dark {
	background-color: darken($white, 10%);
	border-color: darken($white, 10%);
	color: $grey-80;
}
.btn-scout-white-dark:hover {
	background-color: darken(darken($white, 10%), 10%);
	border-color: darken(darken($white, 10%), 10%);
	color: $grey-80 !important;
}
.btn-scout-white-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($white, 10%),.5);
}
.btn-scout-black {
	background-color: $black;
	border-color: $black;
	color: $white;
}
.btn-scout-black:hover {
	background-color: lighten($black, 10%);
	border-color: lighten($black, 10%);
	color: $white !important;
}
.btn-scout-black:focus {
	box-shadow: 0 0 0 0.2rem rgba($black, 0.5);
}
.btn-outline-scout-black {
	color: $white;
	background-color: transparent !important;
	background-image: none;
	border-color: $black !important;
}
.btn-outline-scout-black:hover {
	color: $white !important;
	background-color: $black !important;
}
.btn-scout-black-light {
	background-color: lighten($black, 20%);
	border-color: lighten($black, 20%);
	color: $white;
}
.btn-scout-black-light:hover {
	background-color: darken(lighten($black, 20%), 10%);
	border-color: darken(lighten($black, 20%), 10%);
	color: $white !important;
}
.btn-scout-black-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(lighten($black, 20%),.5);
}
.btn-scout-black-dark {
	background-color: darken($black, 10%);
	border-color: darken($black, 10%);
	color: $white;
}
.btn-scout-black-dark:hover {
	background-color: darken(darken($black, 10%), 10%);
	border-color: darken(darken($black, 10%), 10%);
	color: $white !important;
}
.btn-scout-black-dark:focus {
	box-shadow: 0 0 0 0.2rem rgba(darken($black, 10%),.5);
}
.wp-block-button .wp-block-button__link {
	@extend .btn;
}

.wp-block-button .wp-block-button__link:hover {
	filter: brightness(90%);
}
