// Buttons

.wp-block-button__link {
	border-radius: .25rem;
}

.is-style-outline:hover > :where(.wp-block-button__link), :where(.wp-block-button__link).is-style-outline:hover {
	background-color: currentColor;
}

.wp-block-file__button:hover {
	background-color: $grey-80;
}

.wp-block-button:not(.is-style-outline) {
	.wp-block-button__link:hover {
		filter: brightness(85%);
	}
}
.has-inline-color:hover, .wp-block-post-navigation-link:hover, .wp-block-search__button:hover, .wp-block-navigation-item__content:hover, .wp-block-file__button:hover, .wp-block-query-pagination>a:hover, figure>a:hover {
	filter: brightness(85%);
}

.wp-block-navigation-item__content:hover {
	color: currentColor;
}

a:where(:not(.wp-element-button)) {
	text-decoration: none !important;
}

.wp-block-button.is-style-outline > .wp-block-button__link, .wp-block-query-pagination a {
	padding: .375rem .75rem !important;
}

.wp-block-buttons {
	width: 100%;
}
