main.site-main .entry-content {
	@extend .clearfix;
}
.wp-block-post {
	@extend .card;
	@extend .mb-2;
	@extend .overflow-hidden;

	.post-meta, .wp-block-post-excerpt {
		@extend .p-2;
	}

	.wp-block-post-title {
		@extend .p-0;
	}

	.wp-block-post-title {
		@extend .mb-0;
	}

	.wp-block-post-date {
		@extend .badge;
		@extend .rounded-pill;
		@extend .bg-secondary;
	}

	.wp-block-columns {
		margin-bottom: 0;
		@extend .d-flex;
		gap: 0px;

		.wp-block-column:first-child {
			@extend .flex-shrink-1;
			background-color: $grey-5;
		}
		.wp-block-column:last-child {
			width: 100%;
		}
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
		flex-basis: unset;
		flex-grow: unset;
	}

	.wp-block-column {
		flex-grow: unset;
	}
}

.sticky {
	@extend .border-dark;
}

.wp-block-post-navigation-link a, .wp-block-query-pagination a {
	@extend .wp-block-button__link;
	@extend .has-scout-purple-background-color;
	color: white;
}
.wp-block-post-navigation-link a:hover, .wp-block-query-pagination a:hover {
	color: white;
}

/* Post featured image in index.html*/

.wp-block-post-featured-image img {
	height:100%;
	width:auto;
}

.wp-block-post-featured-image{
	position: relative;
	margin: auto;
	/*top: 1.5rem;*/
	max-width: 100%;
	width: 500px;
}

.wp-block-post-featured-image, .wp-block-post-featured-image img {
	max-height: 500px;
}
