.wp-block-search__button-inside {
	.wp-block-search__inside-wrapper {
		@extend .input-group;
		.wp-block-search__button {
			margin-left: 0px;
		}
	}
}
.wp-block-search__input {
	@extend .form-control;
}
.wp-block-search__button {
	@extend .btn;
	@extend .btn-scout-teal;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border: 0px;
	padding: 0px;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	@extend .form-control;
}
