.wp-block-search__button-inside {
	.wp-block-search__inside-wrapper {
		@extend .input-group;
		.wp-block-search__button {
			position: relative;
			z-index: 2;
			&:focus {
				z-index: 5;
			}
		}
	}
}
.wp-block-search__input {
	@extend .form-control;
}
.wp-block-search__button {
	@extend .has-secondary-background-color;
	@extend .wp-block-button__link;
	color: white;
	border: 0px solid transparent;
	background-color: var(--wp--preset--color--secondary) !important;
	padding: .375rem .75rem !important;
}
.wp-block-search__button:hover {
	color: white;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border: 0px;
	padding: 0px;
	border-radius:0.25rem;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	@extend .form-control;
}

.wp-block-search__button-only input {
	margin-right: 5px;
}
