// Variables

$scout-purple:	#7413dc;
$scout-green:	#25b755;
$scout-forest-green:	#205b41;
$scout-blue:	#006ddf;
$scout-navy:	#003982;
$scout-teal: #088486;
$scout-red: #ed3f23;
$scout-orange: #ff912a;
$scout-pink: #ffb4e5;
$scout-yellow: #ffe627;
$scout-section-green:	#004a53;
$white:	#ffffff;
$grey-5:	#F2F2F2;
$grey-20:	#CCCCCC;
$grey-40:	#999999;
$grey-60:	#666666;
$grey-80:	#333333;
$black:	#000000;

// Set colours used by Bootstrap

$blue:	$scout-blue;
$indigo:	#5e00a3;
$purple:	$scout-purple;
$pink:	$scout-pink;
$red:	$scout-red;
$orange:	$scout-orange;
$yellow:	$scout-yellow;
$green:	$scout-green;
$teal:	$scout-teal;
$cyan:	#17a2b8;

// Set variables used by Bootstrap

$primary:	$scout-purple;
$secondary:	$scout-teal;
$success:	$scout-green;
$danger:	$scout-red;
$warning:	$scout-yellow;
$info:	$cyan;
$light:	$grey-5;
$dark:	$grey-80;
