/*!
 * Bootscout | MIT License
 * https://github.com/JackFurby/Bootscout-theme
 */

/* Imports */

@import "b4st/variables";
@import "../../bootstrap/scss/bootstrap";
@import "b4st/bootstrap-override";
@import "b4st/base";
@import "b4st/typography";
@import "b4st/code";
@import "b4st/lists";
@import "b4st/quotes";
@import "b4st/layout";
@import "b4st/groups";
@import "b4st/images-and-galleries";
@import "b4st/embeds";
@import "b4st/tables";
@import "b4st/comments";
@import "b4st/footer";

/* colours */

.bg-scout-purple, .has-scout-purple-background-color {
	background-color: #7413dc !important;
}
.bg-scout-purple-50 {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple {
	background-color: #7413dc !important;
}
.bg-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.bg-scout-section-green, .has-scout-section-green-background-color {
	background-color: #004851 !important;
}
.bg-scout-green, .has-scout-green-background-color {
	background-color: #23a950 !important;
}
.bg-scout-blue, .has-scout-blue-background-color {
	background-color: #006ddf !important;
}
.bg-scout-navy, .has-scout-navy-background-color {
	background-color: #003982 !important;
}
.bg-scout-teal, .has-scout-teal-background-color {
	background-color: #00a794 !important;
}
.bg-scout-red, .has-scout-red-background-color {
	background-color: #e22e12 !important;
}
.bg-scout-pink, .has-scout-pink-background-color {
	background-color: #ffb4e5 !important;
}
.bg-scout-yellow, .has-scout-yellow-background-color {
	background-color: #ffe627 !important;
}
.bg-white, .has-white-background-color, .bg-scout-white {
	background-color: #ffffff !important;
}
.bg-grey-5, .has-grey-5-background-color, .bg-scout-grey-5 {
	background-color: #F2F2F2 !important;
}
.bg-grey-20, .has-grey-20-background-color, .bg-scout-grey-20 {
	background-color: #CCCCCC !important;
}
.bg-grey-40, .has-grey-40-background-color, .bg-scout-grey-40 {
	background-color: #999999 !important;
}
.bg-grey-60, .has-grey-60-background-color, .bg-scout-grey-60 {
	background-color: #666666 !important;
}
.bg-grey-80, .has-grey-80-background-color, .bg-scout-grey-80 {
	background-color: #333333 !important;
}
.bg-black, .has-black-background-color, .bg-scout-black {
	background-color: #000000 !important;
}
.text-grey-5, .has-grey-5-color, .link-text-grey-5 {
	color: #F2F2F2 !important;
}
.text-grey-20, .has-grey-20-color, .link-text-grey-20  {
	color: #CCCCCC !important;
}
.text-grey-40, .has-grey-40-color, .link-text-grey-40  {
	color: #999999 !important;
}
.text-grey-60, .has-grey-60-color, .link-text-grey-60  {
	color: #666666 !important;
}
.text-grey-80, .has-grey-80-color, .link-text-grey-80  {
	color: #333333 !important;
}
.text-black, .has-black-color, .link-text-black  {
	color: #000000 !important;
}
.text-white, .has-white-color, .link-text-white  {
	color: #ffffff !important;
}
.text-scout-yellow, .has-scout-yellow-color, .link-text-yellow  {
	color: #ffe627 !important;
}
.text-scout-red, .has-scout-red-color, .link-text-red  {
	color: #e22e12 !important;
}
.text-scout-pink, .has-scout-pink-color, .link-text-pink  {
	color: #ffb4e5 !important;
}
.text-scout-navy, .has-scout-navy-color, .link-text-navy  {
	color: #003982 !important;
}
.text-scout-blue, .has-scout-blue-color, .link-text-blue {
	color: #006ddf !important;
}
.text-scout-green, .has-scout-green-color , .link-text-green{
	color: #23a950 !important;
}
.text-scout-purple, .has-scout-purple-color, .link-text-purple {
	color: #7413dc !important;
}
.text-scout-teal, .has-scout-teal-color, .link-text-teal {
	color: #00a794 !important;
}
.border-scout-teal {
	border-color: #00a794!important;
}
.link-text-white:hover  {
	color: lightgrey !important;
}
.link-text-grey-80:hover  {
	color: #000000 !important;
}

/* shadow */
.hover-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hover-shadow:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.solid-shadow {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

/* buttons */

.btn-scout-purple {
	background-color: #7413dc;
	border-color: #7413dc;
	color: white;
}
.btn-scout-purple:hover {
	background-color: #5B00C3;
	border-color: #5B00C3;
	color: white !important;
}
.btn-scout-purple:focus {
	box-shadow: 0 0 0 0.2rem rgba(45,7,86,.5);
}
.btn-outline-scout-purple {
	color: #7413dc !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #7413dc !important;
}
.btn-outline-scout-purple:hover {
	color: white !important;
	background-color: #7413dc !important;
}
.btn-scout-teal {
	background-color: #00a794;
	color: white;
}
.btn-scout-teal:hover {
	background-color: #008E7B;
	color: white !important;
}
.btn-scout-teal:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 142, 123, 0.5);
}
.btn-outline-scout-teal {
	color: #00a794 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #00a794 !important;
}
.btn-outline-scout-teal:hover {
	color: white !important;
	background-color: #00a794 !important;
}
.btn-scout-green {
	background-color: #23a950;
	color: white;
}
.btn-scout-green:hover {
	background-color: #0A9037;
	color: white !important;
}
.btn-scout-green:focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 144, 55, 0.5);
}
.btn-outline-scout-green {
	color: #23a950 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #23a950 !important;
}
.btn-outline-scout-green:hover {
	color: white !important;
	background-color: #0A9037 !important;
}
.btn-scout-blue {
	background-color: #006ddf;
	color: white;
}
.btn-scout-blue:hover {
	background-color: #0054C6;
	color: white !important;
}
.btn-scout-blue:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 84, 198, 0.5);
}
.btn-outline-scout-blue {
	color: #006ddf !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #006ddf !important;
}
.btn-outline-scout-blue:hover {
	color: white !important;
	background-color: #0054C6 !important;
}
.btn-scout-navy {
	background-color: #003982;
	color: white;
}
.btn-scout-navy:hover {
	background-color: #002069;
	color: white !important;
}
.btn-scout-navy:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 32, 105, 0.5);
}
.btn-outline-scout-navy {
	color: #003982 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #003982 !important;
}
.btn-outline-scout-navy:hover {
	color: white !important;
	background-color: #002069 !important;
}
.btn-scout-pink {
	background-color: #ffb4e5;
	color: #333333;
}
.btn-scout-pink:hover {
	background-color: #E69BCC;
	color: #333333;
}
.btn-scout-pink:focus {
	box-shadow: 0 0 0 0.2rem rgba(230, 155, 204, 0.5);
}
.btn-outline-scout-pink {
	color: #ffb4e5 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #ffb4e5 !important;
}
.btn-outline-scout-pink:hover {
	color: #333333 !important;
	background-color: #E69BCC !important;
}
.btn-scout-red {
	background-color: #e22e12;
	color: white;
}
.btn-scout-red:hover {
	background-color: #C91500;
	color: white !important;
}
.btn-scout-red:focus {
	box-shadow: 0 0 0 0.2rem rgba(201, 21, 0, 0.5);
}
.btn-outline-scout-red {
	color: #e22e12 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #e22e12 !important;
}
.btn-outline-scout-red:hover {
	color: white !important;
	background-color: #C91500 !important;
}
.btn-scout-yellow {
	background-color: #ffe627;
	color: #333333;
}
.btn-scout-yellow:hover {
	background-color: #E6CD0E;
	color: #333333 !important;
}
.btn-scout-yellow:focus {
	box-shadow: 0 0 0 0.2rem rgba(230, 205, 14, 0.5);
}
.btn-outline-scout-yellow {
	color: #ffe627 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #ffe627 !important;
}
.btn-outline-scout-yellow:hover {
	color: #333333 !important;
	background-color: #E6CD0E !important;
}
.btn-scout-section-green {
	background-color: #004851 !important;
	border-color: #004851;
	color: white;
}
.btn-scout-section-green:hover {
	background-color: #003B44;
	border-color: #003B44;
	color: white !important;
}
.btn-scout-section-green:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 59, 68, 0.5);
}
.btn-scout-white {
	background-color: white;
	color: #333333;
}
.btn-scout-white:hover {
	background-color: #F2F2F2;
	color: #333333 !important;
}
.btn-scout-white:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-outline-scout-white {
	color: #333333 !important;
	background-color: transparent !important;
	background-image: none;
	border-color: white !important;
}
.btn-outline-scout-white:hover {
	color: #333333 !important;
	background-color: #F2F2F2 !important;
}
.btn-scout-black {
	background-color: #000000;
	color: white;
}
.btn-scout-black:hover {
	background-color: #333333;
	color: white !important;
}
.btn-scout-black:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.btn-outline-scout-black {
	color: white !important;
	background-color: transparent !important;
	background-image: none;
	border-color: #000000 !important;
}
.btn-outline-scout-black:hover {
	color: white !important;
	background-color: #333333 !important;
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0px;
	border-radius: 45px;
	text-align: center;
	font-size: 25px;
	line-height: 1.45857;
}
.wp-block-button .wp-block-button__link {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: transparent;
	font-family: "Nunito Sans", sans-serif !important;
	background-color: #000000;
}

.wp-block-button .wp-block-button__link:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.wp-block-button.is-style-default .wp-block-button__link {
	border-radius: 0.25rem;
}

.wp-block-button.is-style-outline .wp-block-button__link, .is-style-outline .wp-block-button__link {
	border: 2px solid currentcolor !important;
	background-color: transparent !important;
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0rem;
}

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.site-header-image {
	display: block;
	margin: auto;
}

.wp-caption {}
.wp-caption-text {}
.sticky {
	background-color: rgba(0, 58, 130, .1);
}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
	margin-right: 15px !important;
}

.alignright {
	float: right;
	margin-left: 15px !important;
}

.aligncenter {
	display: block;
	margin: auto;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

div.wp-caption {
	max-width: 100% !important;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

body, .bg-body {
	background-color:#F5F5F5
}

.col-sm-12 .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;
}

.col-sm-12 .alignwide {
	margin-left: calc(25% - 25vw);
	margin-right: calc(25% - 25vw);
	width: auto;
	max-width: 1000%;
}

.alignwide img, .alignfull img {
	display: block;
	margin: 0 auto;
}

.page-item.active .page-link {
	background-color: #7413dc;
	border-color: #7413dc;
}

.page-link {
	color: #7413dc;
}

.page-link:hover {
	color: #7413dc;
}

.after-content::after {
	content: "";
	display: flex;
	width: 100%;
}

/* navbar */

.navbar-brand-light, .footer-item-light {
	color: white !important;
	font-size: 20px;
	font-weight: bold;
}
.navbar-brand-light:hover, .footer-item-light:hover {
	color: lightgrey !important;
	text-decoration: none;
}
.navbar-brand-dark, .footer-item-dark {
	color: #333333 !important;
	font-size: 20px;
	font-weight: bold;
}
.navbar-brand-dark:hover, .footer-item-dark:hover {
	color: #000000 !important;
	text-decoration: none;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #212529;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #212529;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
@media only screen and (max-width: 768px) {
	.dropdown-menu-sub {
		border-color: transparent;
		border-width: 0;
		border-top: 1px solid rgba(0,0,0,.15);
	}
	.dropdown-submenu>.dropdown-menu {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-left: 0px;
	}
}

.dropdown-item-scout-purple:active {
	background-color: #7413dc;
	color: white;
}
.dropdown-item-scout-purple:focus {
	box-shadow: 0 0 0 0.2rem rgba(45,7,86,.5);
}
.dropdown-item-scout-yellow:active {
	background-color: #ffe627;
	color: #333333;
}
.dropdown-item-scout-yellow:focus {
	box-shadow: 0 0 0 0.2rem rgba(230, 205, 14, 0.5);
}
.dropdown-item-scout-red:active {
	background-color: #e22e12;
	color: white;
}
.dropdown-item-scout-red:focus {
	box-shadow: 0 0 0 0.2rem rgba(201, 21, 0, 0.5);
}
.dropdown-item-scout-pink:active {
	background-color: #ffb4e5;
	color: #333333;
}
.dropdown-item-scout-pink:focus {
	box-shadow: 0 0 0 0.2rem rgba(230, 155, 204, 0.5);
}
.dropdown-item-scout-navy:active {
	background-color: #003982;
	color: white;
}
.dropdown-item-scout-navy:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 32, 105, 0.5);
}
.dropdown-item-scout-blue:active {
	background-color: #006ddf;
	color: white;
}
.dropdown-item-scout-blue:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 84, 198, 0.5);
}
.dropdown-item-scout-green:active {
	background-color: #23a950;
	color: white;
}
.dropdown-item-scout-green:focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 144, 55, 0.5);
}
.dropdown-item-scout-teal:active {
	background-color: #00a794;
	color: white;
}
.dropdown-item-scout-teal:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 142, 123, 0.5);
}
.dropdown-item-scout-black:active {
	background-color: #000000;
	color: white;
}
.dropdown-item-scout-black:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.dropdown-item-scout-white:active {
	background-color: #ffffff;
	color: #333333;
}
.dropdown-item-scout-white:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

/* Sidebar */

/* banner */

.banner {
	max-height: 500px;
}

.banner-img {
	width: 100% !important;
	height: auto;
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}

.comment > .children {
	margin-top: 1rem;
	margin-right: -0.625rem;
	margin-bottom: -1.625rem;
}
/* Site footer */
