/*
 * site Editor Styles
 * ====================================
 */

 @import "site/variables";
 @import "../../bootstrap/scss/bootstrap";
 @import "site/icons";
 @import "site/bootstrap-override";
 @import "site/search";
 @import "site/buttons";
 @import "site/backgrounds";
 @import "site/base";
 @import "site/layout";
 @import "site/typography";
 @import "site/groups";
 @import "site/footer";
 @import "site/posts";
 @import "site/tables";
 @import "site/comments";
 @import "site/quotes";
 @import "site/nav";

/* header search */
.wp-block-search__inside-wrapper {
	flex-wrap: nowrap;
	border-radius: .25rem;

	.wp-block-search__button {
		border-bottom-right-radius: .25rem !important;
	  border-top-right-radius: .25rem !important;
	}
}

.wp-block-search__button-outside {
	.wp-block-search__button {
		margin-left: .625em;
	}
}

/* search */

.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	flex-wrap: nowrap;
}
