/*
 * b4st Editor Styles (Gutenberg Ready)
 * ====================================
 * (1.) Bootstrap’s Reboot: `reboot.min.css`
 * (2.) Title: `.editor-post-title__block .editor-post-title__input`
 *      — copied from base font-family and Bootstrap h1
 */

@import "b4st/variables";
@import "../../bootstrap/scss/bootstrap-reboot";

.components-circular-option-picker__option {
	border-radius: 50%;
}

body { background: #f5f5f5; }

.editor-post-title__block .editor-post-title__input {
	margin-bottom: .5rem;
	font-weight: 900;
	font-size: 2.5rem;
	font-family: "Nunito Sans", sans-serif;
	line-height: 1.2;
}

.wp-block {
	max-width: 1110px;
}
.wp-block[data-align="wide"] {
	max-width: 1440px;
}
.wp-block[data-align="full"] {
	max-width: none;
}

a:hover {
	color: inherit !important;
}

// Widget blocks

body.wp-block-widget-area__inner-blocks {  // widget block editor section
	>div[class^="block-editor-block"], >div[class*=" block-editor-block"] {  // block editor container
		>div[class^="block-editor-block"], >div[class*=" block-editor-block"] {  // widget container
			background: #fff;
			padding: 1rem;
			border-radius: .25rem !important;
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
		}
	}
}



@import "b4st/typography";
@import "b4st/code";
@import "b4st/lists";
@import "b4st/quotes";
@import "b4st/layout_editor";
@import "b4st/groups";
@import "b4st/images-and-galleries";
@import "b4st/embeds";
@import "b4st/tables";
@import "b4st/comments";
@import "b4st/shadows";
@import "b4st/buttons";
