.wp-block-search__button-inside
.wp-block-search__inside-wrapper
.wp-block-search__button {
	position: relative;
	z-index: 2;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.wp-block-search__button-inside
.wp-block-search__inside-wrapper
.wp-block-search__button:focus {
	z-index: 5;
}

.wp-block-search__button {
	border-radius: .25rem;
	color: var(--white);
	border: 0px solid transparent;
	background-color: var(--wp--preset--color--secondary) !important;
	padding: .375rem .75rem !important;
}

.wp-block-search__button:hover {
	color: var(--white);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border-radius: 0.25rem;
	overflow: hidden;
}

.wp-block-search__input {
	border-radius: 0.25rem;
}

.wp-block-search__button-only input {
	margin-right: 5px;
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper){
	padding: 0;
	border: 0px solid transparent;
}
