:root {
	--scout-purple:	#7413dc;
	--scout-green:	#25b755;
	--scout-forest-green:	#205b41;
	--scout-blue:	#006ddf;
	--scout-navy:	#003982;
	--scout-teal: #088486;
	--scout-red: #ed3f23;
	--scout-orange: #ff912a;
	--scout-pink: #ffb4e5;
	--scout-yellow: #ffe627;
	--scout-section-green:	#004a53;
	--white:	#ffffff;
	--grey-5:	#F2F2F2;
	--grey-20:	#CCCCCC;
	--grey-40:	#999999;
	--grey-60:	#666666;
	--grey-80:	#333333;
	--black:	#000000;

	--spacer: 0.25rem;
	--border-radius: 0.25rem;
	--gutter: 0.75rem;
}
