/**!
 * Bootscout CSS
 */

 /* Fonts */

 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

 h1, .h1, .has-h-1-font-size {
	color: #006ddf ;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
}
h2, .h2, .has-h-2-font-size {
	color: #23a950;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bolder;
	font-size: 2rem;
}
h3, .h3, .has-h-3-font-size {
	color:#00a794;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bold;
	font-size: 1.75rem;
}
h4, .h4, .has-h-4-font-size {
	font-family: "Nunito Sans", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}
h5, .h5, .has-h-5-font-size {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.25rem;
}
h6, .h6, .has-h-6-font-size {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1rem;
}
p, .p, .has-p-font-size {
	font-family: "Nunito Sans", sans-serif;
	font-weight: normal;
	font-size: 1rem;
}
a, .a {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1rem;
}
strong, .strong {
	font-weight: 900;
}

li {
	font-family: "Nunito Sans", sans-serif !important;
}

table {
	font-family: "Nunito Sans", sans-serif !important;
}

 /* colours */

.bg-scout-purple, .has-scout-purple-background-color {
	background-color: #7413dc !important;
}
.bg-scout-purple-50 {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple {
	background-color: #7413dc !important;
}
.bg-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.bg-scout-green, .has-scout-green-background-color {
	background-color: #23a950 !important;
}
.bg-scout-blue, .has-scout-blue-background-color {
	background-color: #006ddf !important;
}
.bg-scout-navy, .has-scout-navy-background-color {
	background-color: #003982 !important;
}
.bg-scout-teal, .has-scout-teal-background-color {
	background-color: #00a794 !important;
}
.bg-scout-red, .has-scout-red-background-color {
	background-color: #e22e12 !important;
}
.bg-scout-pink, .has-scout-pink-background-color {
	background-color: #ffb4e5 !important;
}
.bg-scout-yellow, .has-scout-yellow-background-color {
	background-color: #ffe627 !important;
}
.bg-white, .has-white-background-color {
	background-color: #ffffff !important;
}
.bg-grey-5, .has-grey-5-background-color {
	background-color: #F2F2F2 !important;
}
.bg-grey-20, .has-grey-20-background-color {
	background-color: #CCCCCC !important;
}
.bg-grey-40, .has-grey-40-background-color {
	background-color: #999999 !important;
}
.bg-grey-60, .has-grey-60-background-color {
	background-color: #666666 !important;
}
.bg-grey-80, .has-grey-80-background-color {
	background-color: #333333 !important;
}
.bg-black, .has-black-background-color {
	background-color: #000000 !important;
}
.text-grey-5, .has-grey-5-color  {
	color: #F2F2F2 !important;
}
.text-grey-20, .has-grey-20-color  {
	color: #CCCCCC !important;
}
.text-grey-40, .has-grey-40-color  {
	color: #999999 !important;
}
.text-grey-60, .has-grey-60-color  {
	color: #666666 !important;
}
.text-grey-80, .has-grey-80-color  {
	color: #333333 !important;
}
.text-black, .has-black-color  {
	color: #000000 !important;
}
.text-white, .has-white-color  {
	color: #ffffff !important;
}
.text-scout-yellow, .has-scout-yellow-color  {
	color: #ffe627 !important;
}
.text-scout-red, .has-scout-red-color  {
	color: #e22e12 !important;
}
.text-scout-pink, .has-scout-pink-color  {
	color: #ffb4e5 !important;
}
.text-scout-navy, .has-scout-navy-color  {
	color: #003982 !important;
}
.text-scout-blue, .has-scout-blue-color {
	color: #006ddf !important;
}
.text-scout-green, .has-scout-green-color {
	color: #23a950 !important;
}
.text-scout-purple, .has-scout-purple-color {
	color: #7413dc !important;
}
.text-scout-teal, .has-scout-teal-color {
	color: #00a794 !important;
}

/* shadow */
.hover-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hover-shadow:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.solid-shadow {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

/* buttons */

.btn-scout-green {
	border-color: white;
	background-color: #7413dc;
}
.btn-scout-green:hover {
	background-color: #23a950;
	border-color: #23a950;
}
.btn-scout-teal {
	border-color: white;
	background-color: #7413dc;
}
.btn-scout-teal:hover {
	background-color: #00a794;
	border-color: #00a794;
}
.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0px;
	border-radius: 45px;
	text-align: center;
	font-size: 25px;
	line-height: 1.45857;
}

.wp-block-button .wp-block-button__link {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: transparent;
	font-family: "Nunito Sans", sans-serif !important;
}

.wp-block-button .wp-block-button__link:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.wp-block-button.is-style-default .wp-block-button__link {
	border-radius: 2rem;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border: 2px solid currentcolor !important;
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0rem;
}

/* Sticky Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

.site-header-image {
	display: block;
	margin: auto;
}

.wp-caption {}
.wp-caption-text {}
.sticky {
	background-color: rgba(0, 58, 130, .1);
}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.aligncenter {
	display: block;
	margin: auto;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

div.wp-caption {
	max-width: 100% !important;
}

/* Responsive Container (because Bootstrap 4.0.0 doesn't have this) */

.container-responsive {
	width: 100%;
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar > .container-responsive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-responsive {
	padding-right: 0;
	padding-left: 0;
}
.navbar > .container,
.navbar > .container-responsive {
	max-width: 1110px;
}

.navbar-nav .nav-link, .navbar-brand, .footer-item {
	color: white !important;
}
.navbar-nav .nav-link:hover , .navbar-brand:hover, .footer-item:hover {
	color: lightgrey !important;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

.break-word {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.col-sm-12 .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;
}

.col-sm-12 .alignwide {
	margin-left: calc(25% - 25vw);
	margin-right: calc(25% - 25vw);
	width: auto;
	max-width: 1000%;
}

.alignwide img, .alignfull img {
	display: block;
	margin: 0 auto;
}

.page-item.active .page-link {
	background-color: #7413dc;
	border-color: #7413dc;
}

.page-link {
	color: #7413dc;
}

.page-link:hover {
	color: #7413dc;
}

/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}

/* Site footer */

/*join page css */

#bevMainBtn:hover {
	background: rgba(1,162,216,0.1);
}
#cubMainBtn:hover {
	background: rgba(115,163,51,0.1);
}
#scoMainBtn:hover {
	background: rgba(0,58,69,0.1);
}
#expMainBtn:hover {
	background: rgba(1,45,94,0.1);
}
#netMainBtn:hover {
	background: rgba(35,31,32,0.1);
}
.section-img {
	width:80%;
	padding:10px;
	margin: auto;
}

/* carousel and banner */

@media (min-width: 200px) {
	.carousel-caption, .banner-caption {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 200px;
	}
}
@media (min-width: 576px) {
	.carousel-caption, .banner-caption {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 350px;
	}
}
@media (min-width: 768px) {
	.carousel-caption, .banner-caption  {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 400px;
	}
}
@media (min-width: 992px) {
	.carousel-caption, .banner-caption {
		font-size: 50px;
	}
	.carousel, .banner {
		height: 450px;
	}
}
@media (min-width: 1200px) {
	.carousel-caption, .banner-caption {
		font-size: 50px;
	}
	.carousel, .banner {
		height: 500px;
	}
}
.carousel-inner {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.carousel-inner, .carousel-item, .carousel-item a, .carousel-item a div, .carousel_background {
	width:100%;
	height:100%;

}
.carousel_background {
	object-fit:cover;
	background-color: #7413dc; /* fallback in case no image is set */
}
.carousel-caption {
	font-weight: bold;
}

.banner-img {
	min-width: 100% !important;
	max-width: none;
	min-height: 100%;
	width: auto;
	height: auto;
}
