/**!
 * b4st CSS
 */

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

h1 {
	color: #006ddf ;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
}
h2 {
	color: #23a950;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bolder;
}
h3 {
	color:#00a794;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bold;
}
h4 {
	font-family: "Nunito Sans", sans-serif;
	font-weight: bold;
}
h5 {
	font-family: "Nunito Sans", sans-serif;
}
h6 {
	font-family: "Nunito Sans", sans-serif;
}
p {
	font-family: "Nunito Sans", sans-serif;
	font-weight: normal;
}
a {
	font-family: "Nunito Sans", sans-serif;
}
strong {
	font-weight: 900;
}
.h1 {
	color: #006ddf ;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
}
.h2 {
	color: #23a950;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bolder;
}
.h3 {
	color:#00a794;
	font-family: "Nunito Sans", sans-serif;
}
.h4 {
	font-family: "Nunito Sans", sans-serif;
}
.h5 {
	font-family: "Nunito Sans", sans-serif;
}
.h6 {
	font-family: "Nunito Sans", sans-serif;
}
.p {
	font-family: "Nunito Sans", sans-serif;
	font-weight: normal;
}
.a {
	font-family: "Nunito Sans", sans-serif;
}
.strong {
	font-weight: 900;
}

/* colours */

.bg-scout-purple {
	background-color: #7413dc !important;
}
.bg-scout-purple-50 {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple {
	background-color: #7413dc !important;
}
.bg-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.border-scout-purple-link:hover {
	background-color: rgba(116, 20, 220, 0.5) !important;
}
.bg-scout-green {
	background-color: #23a950 !important;
}
.bg-scout-blue {
	background-color: #006ddf !important;
}
.bg-scout-teal {
	background-color: #00a794 !important;
}
.text-scout-blue {
	color: #006ddf;
}
.text-scout-green {
	color: #23a950;
}
.text-scout-purple {
	color: #7413dc;
}
.text-scout-teal {
	color: #00a794;
}

/* shadow */
.hover-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hover-shadow:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* buttons */

.btn-scout-green {
	border-color: white;
	background-color: #7413dc;
}
.btn-scout-green:hover {
	background-color: #23a950;
	border-color: #23a950;
}

.btn-scout-teal {
	border-color: white;
	background-color: #7413dc;
}
.btn-scout-teal:hover {
	background-color: #00a794;
	border-color: #00a794;
}

.site-header-image {
	display: block;
	margin: auto;
}

.wp-caption {}
.wp-caption-text {}
.sticky {
	background-color: rgba(77, 33, 119, .1);
	padding:15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.aligncenter {
	display: block;
	margin: auto;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Responsive Container (because Bootstrap 4.0.0 doesn't have this) */

.container-responsive {
	width: 100%;
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar > .container-responsive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-responsive {
	padding-right: 0;
	padding-left: 0;
}
.navbar > .container,
.navbar > .container-responsive {
	max-width: 1110px;
}

.overflow-hide {
	overflow: hidden;
}

.nav-main .nav-link, .navbar-brand {
	color: white !important;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bolder;
}
.nav-main .nav-link:hover , .navbar-brand:hover {
	color: grey !important;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

.site-logo {
	width:auto;
	height:160px;
}

/* posts */

/* Sidebar */

#sidebar ul,
#sidebar ol {
	list-style-type: none;
	padding: 0
}
#sidebar li {
  	margin: 10px 0
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}

/* carousel and banner */

@media (min-width: 200px) {
	.carousel-caption, .banner-caption {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 200px;
	}
}
@media (min-width: 576px) {
	.carousel-caption, .banner-caption {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 350px;
	}
}
@media (min-width: 768px) {
	.carousel-caption, .banner-caption  {
		font-size: 40px;
	}
	.carousel, .banner {
		height: 400px;
	}
}
@media (min-width: 992px) {
	.carousel-caption, .banner-caption {
		font-size: 50px;
	}
	.carousel, .banner {
		height: 450px;
	}
}
@media (min-width: 1200px) {
	.carousel-caption, .banner-caption {
		font-size: 50px;
	}
	.carousel, .banner {
		height: 500px;
	}
}
.carousel-inner {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.carousel-inner, .carousel-item, .carousel-item a, .carousel-item a div, .carousel_background {
	width:100%;
	height:100%;

}
.carousel_background {
	object-fit:cover;
	background-color: #7413dc; /* fallback in case no image is set */
}
.carousel-caption {
	color: #23a950;
	font-weight: bold;
	text-shadow: 2px 0 0 #1E1E1E, -2px 0 0 #1E1E1E, 0 2px 0 #1E1E1E, 0 -2px 0 #1E1E1E, 1px 1px #1E1E1E, -1px -1px 0 #1E1E1E, 1px -1px 0 #1E1E1E, -1px 1px 0 #1E1E1E;
}

.banner-img {
	min-width: 100% !important;
	max-width: none;
	min-height: 100%;
	width: auto;
	height: auto;
}

/*join page css */

#bevMainBtn:hover {
	background: rgba(1,162,216,0.1);
}
#cubMainBtn:hover {
	background: rgba(115,163,51,0.1);
}
#scoMainBtn:hover {
	background: rgba(0,58,69,0.1);
}
#expMainBtn:hover {
	background: rgba(1,45,94,0.1);
}
#netMainBtn:hover {
	background: rgba(35,31,32,0.1);
}
.section-img {
	height:180px;
	width:auto;
	padding:10px;
	margin: auto;
}

/* footer */

@media (min-width: 576px) {
	footer.container .row {
		width: 540px;
	}
}
@media (min-width: 768px) {
	footer.container .row {
		width: 720px;
	}
}
@media (min-width: 992px) {
	footer.container .row {
		width: 960px;
	}
}
@media (min-width: 1200px) {
	footer.container .row {
		width: 1140px;
	}
}

.menu-footer li a.nav-link {
	padding:0;
	color: rgb(0,19,35);
}
.menu-footer li a.nav-link:hover {
	color: #7413dc;
}
.menu-footer li a {
	text-decoration: none;
	display:inline-block;
	font-size: 13px;
}

/* sticky footer */
@media (min-width:200px) {
    #footer-content li {
        float: none!important;
        display: block;
    }
    #footer-content {
        height: 350px;
    }
    #wrap {
        padding-bottom: 550px;
    }
    footer.container {
        margin-top: -550px; /* negative value of footer height */
    	height: 550px;
    }
}
@media (min-width: 576px) {
    #footer-content {
        height: 200px;
    }
    #footer-content li {
        display: inline-block;
    }
    #footer-content li.float-left {
        float: left!important;
    }
    #footer-content li.float-right {
        float: right!important;
    }
    #wrap {
        padding-bottom: 350px;
    }
    footer.container {
        margin-top: -350px; /* negative value of footer height */
    	height: 350px;
    }
}
@media (min-width: 768px) {
    #footer-content {
        height: 200px;
    }
    #wrap {
        padding-bottom: 350px;
    }
    footer.container {
        margin-top: -350px; /* negative value of footer height */
    	height: 350px;
    }
}
@media (min-width: 992px) {
    #footer-content {
        height: 200px;
    }
    #wrap {
        padding-bottom: 350px;
    }
    footer.container {
        margin-top: -350px; /* negative value of footer height */
    	height: 350px;
    }
}
@media (min-width: 1200px) {
    #footer-content {
        height: 200px;
    }
    #wrap {
        padding-bottom: 350px;
    }
    footer.container {
        margin-top: -350px; /* negative value of footer height */
    	height: 350px;
    }
}

html, body {
	height: 100%;
}
#container {
	min-height: 100%;
}
#wrap {
	overflow:auto;
}
footer.container {
	position: relative;
	clear:both;
}
