<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->
<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group site-main alignfull">
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
	<!-- wp:spacer {"height":70} -->
	<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
