<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->
<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group site-main alignfull">
	<!-- wp:spacer {"height":30} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:template-part {"slug":"main","tagName":"main","className":"site-main","layout":{"inherit":true}} /-->
	<!-- wp:spacer {"height":30} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonUseIcon":true, "buttonPosition":"button-inside", "align":"center"} /-->
	<!-- wp:spacer {"height":30} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
