<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->
<!-- wp:group {"className":"post-meta", "backgroundColor":"grey-5", "style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-group post-meta has-grey-5-background-color has-background" style="margin-top:0;margin-bottom:0">
	<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
	<main class="wp-block-group site-main alignfull">
		<!-- wp:post-title /-->
	</main>
	<!-- /wp:group -->
</div><!-- /wp:group -->
<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group site-main alignfull">
	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"2.375em", "bottom":"2.375em"}}}} /-->
	<!-- wp:post-content {"layout":{"inherit":true}, "className":"post-content-main"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
