<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->
<!-- wp:group {"className":"post-meta", "style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-group post-meta" style="margin-top:0;margin-bottom:0">
	<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
	<main class="wp-block-group site-main alignfull">
		<!-- wp:spacer {"height":30} -->
		<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
		<div class="wp-block-group">
			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:paragraph {"fontSize":"medium"} -->
				<p class="has-medium-font-size"><strong>Date:</strong></p>
				<!-- /wp:paragraph -->

				<!-- wp:post-date {"fontSize":"medium"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:paragraph {"fontSize":"medium"} -->
				<p class="has-medium-font-size"><strong>Author:</strong></p>
				<!-- /wp:paragraph -->

				<!-- wp:post-author-name {"isLink":true} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:post-terms {"term":"category","prefix":"\u003cstrong\u003eCategories: \u003c/strong\u003e","fontSize":"medium"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:post-terms {"term":"post_tag","prefix":"\u003cstrong\u003eTags: \u003c/strong\u003e","fontSize":"medium"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:separator {"backgroundColor":"grey-20","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-grey-20-color has-alpha-channel-opacity has-grey-20-background-color has-background is-style-wide"/>
		<!-- /wp:separator -->
	</main>
	<!-- /wp:group -->
</div><!-- /wp:group -->
<!-- wp:group {"tagName":"main","className":"site-main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group site-main alignfull">
	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"2.375em"}}}} /-->
	<!-- wp:post-content {"layout":{"inherit":true}, "className":"post-content-main"} /-->

	<!-- wp:separator {"align":"full","className":"is-style-wide", "style":{"spacing":{"margin":{"top":"2.375em", "bottom":"2.375em"}}}} -->
	<hr class="wp-block-separator alignfull is-style-wide" style="margin-top:2.375em;margin-bottom:2.375em"/>
	<!-- /wp:separator -->

	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}, "className":"post-nav"} -->
	<div class="wp-block-group post-nav">
		<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->

		<!-- wp:post-navigation-link {"showTitle":true} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":70} -->
	<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:comments -->
	<div class="wp-block-comments"><!-- wp:comments-title /-->

	<!-- wp:comment-template -->
	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
	<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
	<!-- /wp:column -->

	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
	<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

	<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
	<!-- /wp:group -->

	<!-- wp:comment-content /-->

	<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->

	<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<!-- wp:comments-pagination-previous /-->

	<!-- wp:comments-pagination-numbers /-->

	<!-- wp:comments-pagination-next /-->
	<!-- /wp:comments-pagination -->

	<!-- wp:post-comments-form /--></div>
	<!-- /wp:comments -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
