.blog-card-featured-image {
	height:100%;
	width:auto;
}

.blog-card-image-container{
	margin: auto;
	top: -1.5rem;
	max-width: 100%;
	width: 500px;
}

.blog-card-image-container, .blog-card-featured-image {
	max-height: 500px;
}
