// Backgrounds

.bg-scout-purple, .has-scout-purple-background-color {
	background-color: $scout-purple !important;
}
.bg-scout-purple-50 {
	background-color: rgba($scout-purple, 0.5) !important;
}
.bg-scout-purple-link:hover {
	background-color: rgba($scout-purple, 0.5) !important;
}
.bg-scout-section-green, .has-scout-section-green-background-color {
	background-color: $scout-purple !important;
}
.bg-scout-green, .has-scout-green-background-color {
	background-color: $scout-green !important;
}
.bg-scout-blue, .has-scout-blue-background-color {
	background-color: $scout-blue !important;
}
.bg-scout-navy, .has-scout-navy-background-color {
	background-color: $scout-navy !important;
}
.bg-scout-teal, .has-scout-teal-background-color {
	background-color: $scout-teal !important;
}
.bg-scout-red, .has-scout-red-background-color {
	background-color: $scout-red !important;
}
.bg-scout-pink, .has-scout-pink-background-color {
	background-color: $scout-pink !important;
}
.bg-scout-yellow, .has-scout-yellow-background-color {
	background-color: $scout-yellow !important;
}
.bg-white, .has-white-background-color, .bg-scout-white {
	background-color: $white !important;
}
.bg-grey-5, .has-grey-5-background-color, .bg-scout-grey-5 {
	background-color: $grey-5 !important;
}
.bg-grey-20, .has-grey-20-background-color, .bg-scout-grey-20 {
	background-color: $grey-20 !important;
}
.bg-grey-40, .has-grey-40-background-color, .bg-scout-grey-40 {
	background-color: $grey-40 !important;
}
.bg-grey-60, .has-grey-60-background-color, .bg-scout-grey-60 {
	background-color: $grey-60 !important;
}
.bg-grey-80, .has-grey-80-background-color, .bg-scout-grey-80 {
	background-color: $grey-80 !important;
}
.bg-black, .has-black-background-color, .bg-scout-black {
	background-color: $black !important;
}
