.site-header-image {
  display: block;
  margin: auto;
}

.wp-caption {}
.wp-caption-text {}
.sticky {
	background-color: rgba( $info, .1 );
}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
	margin-right: 15px !important;
}

.alignright {
	float: right;
	margin-left: 15px !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin: auto;
}

/* Author bio */

.author-bio .avatar {
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.author-bio {
  margin: 36px auto;
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px;
}

/* Main content */

body, .bg-body {
	background-color:#F5F5F5
}

.col-sm-12 .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;
}

.col-sm-12 .alignwide {
	margin-left: calc(25% - 25vw);
	margin-right: calc(25% - 25vw);
	width: auto;
	max-width: 1000%;
}

// do not let align over flow cards (e.g. in blog posts)
.card-body .alignfull,
.card-body .alignwide {
	margin-left: 0;
	margin-right: 0;
	width: auto;
	max-width: 100%;
}

.alignwide img, .alignfull img {
	display: block;
	margin: 0 auto;
}

.page-item.active .page-link {
	background-color: $scout-purple;
	border-color: $scout-purple;
}

.page-link {
	color: $scout-purple;
}

.page-link:hover {
	color: $scout-purple;
}

.after-content::after {
	content: "";
	display: flex;
	width: 100%;
}

/* Sidebar */



/***********************/

/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/

.wp-block-cover-text p {
  padding: 1.5em 16px;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 16px;
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
