// Borders

.border-scout-purple {
	background-color: $scout-purple !important;
}

.border-scout-purple-link:hover {
	background-color: rgba($scout-purple, 0.5) !important;
}

.border-scout-teal {
	border-color: $scout-teal !important;
}
