// General structure

// if has sidebar then ignore alignfull and alignwide
.col-sm-8 {
	.entry-content > .alignfull,
	.wp-block-image.alignfull,
	.wp-block-gallery.alignfull,
	.entry-content > .alignwide,
	.wp-block-image.alignwide,
	.wp-block-gallery.alignwide {
		width: 100%;
	}
}
.col-sm-12 {

}

@media screen and (min-width: 768px) {
  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// Columns

.wp-block-columns {
  padding-right: 1rem;
  padding-left: 1rem;
}

// Block separator

.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}
