// General structure

// if has sidebar then ignore alignfull and alignwide
.col-lg-8, .card {
	.entry-content > .alignfull,
	.wp-block-image.alignfull,
	.wp-block-gallery.alignfull,
	.entry-content > .alignwide,
	.wp-block-image.alignwide,
	.wp-block-gallery.alignwide {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
.col-lg-12 {
	.alignwide {
		margin-left: -80px;
		margin-right: -80px;
		max-width: 100vw;
	}

	.alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}
}

@media screen and (min-width: 768px) {
  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// Columns

.wp-block-columns {
  padding-right: 1rem;
  padding-left: 1rem;
}

// Block separator

.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}
