// Navbar

.navbar-brand-light,
.footer-item-light,
.navbar-brand-dark,
.footer-item-dark {
	font-size: 20px;
	font-weight: bold;
	padding-right: 0.5rem;
}

.navbar-brand-light, .footer-item-light {
	color: $white !important;
}
.navbar-brand-light:hover, .footer-item-light:hover {
	color: $grey-20 !important;
	text-decoration: none;
}
.navbar-brand-dark, .footer-item-dark {
	color: $grey-80 !important;
}
.navbar-brand-dark:hover, .footer-item-dark:hover {
	color: $black !important;
	text-decoration: none;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	margin-top: 0px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-menu-right>.dropdown-menu {
	top: 0;
	left: 100%;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-menu-right>a:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	float: right;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: lighten( $black, 10% );
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-menu-right:hover>a:after {
	border-left-color: lighten( $black, 10% );
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.dropdown-menu-sub {
	list-style-type: none;
	padding-left: 0;
}
@media only screen and (max-width: 992px) {
	.dropdown-menu-sub {
		border-color: transparent;
		border-width: 0;
		border-top: 1px solid rgba($black,.15);
	}
	.dropdown-submenu>.dropdown-menu {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-left: 0px;
	}
}

.dropdown-item-scout-purple:active {
	background-color: $scout-purple;
	color: $white;
}
.dropdown-item-scout-purple:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-purple,.5);
}
.dropdown-item-scout-yellow:active {
	background-color: $scout-yellow;
	color: $grey-80;
}
.dropdown-item-scout-yellow:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-yellow, 0.5);
}
.dropdown-item-scout-red:active {
	background-color: $scout-red;
	color: $white;
}
.dropdown-item-scout-red:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-red, 0.5);
}
.dropdown-item-scout-pink:active {
	background-color: $scout-pink;
	color: $grey-80;
}
.dropdown-item-scout-pink:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-pink, 0.5);
}
.dropdown-item-scout-navy:active {
	background-color: $scout-navy;
	color: $white;
}
.dropdown-item-scout-navy:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-navy, 0.5);
}
.dropdown-item-scout-blue:active {
	background-color: $scout-blue;
	color: $white;
}
.dropdown-item-scout-blue:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-blue, 0.5);
}
.dropdown-item-scout-green:active {
	background-color: $scout-green;
	color: $white;
}
.dropdown-item-scout-green:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-green, 0.5);
}
.dropdown-item-scout-teal:active {
	background-color: $scout-teal;
	color: $white;
}
.dropdown-item-scout-teal:focus {
	box-shadow: 0 0 0 0.2rem rgba($scout-teal, 0.5);
}
.dropdown-item-scout-black:active {
	background-color: #000000;
	color: $white;
}
.dropdown-item-scout-black:focus {
	box-shadow: 0 0 0 0.2rem rgba($black, 0.5);
}
.dropdown-item-scout-white:active {
	background-color: $white;
	color: $grey-80;
}
.dropdown-item-scout-white:focus {
	box-shadow: 0 0 0 0.2rem rgba($white, 0.5);
}
a[class^='dropdown-item']:hover, a[class*=' dropdown-item']:hover {
	background-color: #f8f9fa;
}

.navbar-small a.btn {
	z-index: auto !important;
}
