.wp-block-table {
	overflow-x: auto;
	margin: 1.5rem0;
}

.wp-block-table table {
	border-collapse: collapse;
}

.wp-block-table td, .wp-block-table th {
	padding: .5em;
	border: 1px solid;
	word-break: normal;
}

.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
	border: 0;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
	background-color: #D8D8D8;
}
