// p.has-drop-cap:not(:focus):first-letter {
//   // if you edit this, you need to empty your browser cache before refresh
//   float: left;
//   font-size: 5.325em;
//   line-height: .625;
//   font-weight: 400;
//   margin: .0875em .0625em 0 0;
//   text-transform: uppercase;
//   font-style: normal;
// }

// CSS lock -- see https://fvsch.com/css-locks/

// More link

.more-link {
	display: block;
}

main .a:hover, main a:hover, footer .a:hover, footer a:hover {
	color: inherit !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	&.alignwide, &.alignfull {
		margin-top: 0 !important;
		margin-bottom: 0.5rem !important;
	}
}

// text colour

.link-text-white:hover  {
	color: $grey-20 !important;
}
.link-text-grey-80:hover  {
	color: darken($grey-80, 10%) !important;
}
.text-grey-5, .has-grey-5-color, .link-text-grey-5 {
	color: $grey-5 !important;
}
.text-grey-20, .has-grey-20-color, .link-text-grey-20  {
	color: $grey-20 !important;
}
.text-grey-40, .has-grey-40-color, .link-text-grey-40  {
	color: $grey-40 !important;
}
.text-grey-60, .has-grey-60-color, .link-text-grey-60  {
	color: $grey-60 !important;
}
.text-grey-80, .has-grey-80-color, .link-text-grey-80  {
	color: $grey-80 !important;
}
.text-black, .has-black-color, .link-text-black  {
	color: $black !important;
}
.text-white, .has-white-color, .link-text-white  {
	color: $white !important;
}
.text-scout-yellow, .has-scout-yellow-color, .link-text-yellow  {
	color: $scout-yellow !important;
}
.text-scout-red, .has-scout-red-color, .link-text-red  {
	color: $scout-red !important;
}
.text-scout-pink, .has-scout-pink-color, .link-text-pink  {
	color: $scout-pink !important;
}
.text-scout-navy, .has-scout-navy-color, .link-text-navy  {
	color: $scout-navy !important;
}
.text-scout-blue, .has-scout-blue-color, .link-text-blue {
	color: $scout-blue !important;
}
.text-scout-green, .has-scout-green-color , .link-text-green{
	color: $scout-green !important;
}
.text-scout-purple, .has-scout-purple-color, .link-text-purple {
	color: $scout-purple !important;
}
.text-scout-teal, .has-scout-teal-color, .link-text-teal {
	color: $scout-teal !important;
}
